/*Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Scaffolding*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: Lucida Sans Unicode, Lucida
}

a:link {
	text-decoration:none;
	color:black;
}

a:visited {
	text-decoration:none;
	color:black;
}

a:hover {
	text-decoration:none;
	color:black;
}

a:active {
	text-decoration:none;
	color:black;
}

div.title_div {
	text-align:center;
	background-color:white;
}

div.title_div h1 {
	text-align:center;
	width:100%;
	color:#efc409;
	font-family:sans-serif;
	font-size:26pt;
	margin-top:2%;
	font-weight:bold;
}

#title_image {
	height:10%;
	margin:1%

}

div.gallery_selection_div {
	width:100%;
	padding-bottom:5%;
	position:absolute;
	display:inline-block;
}

div.gallery_div {
	text-align:center;
	width:100%;
	font-size:0;
	padding-bottom:5%;
	position:absolute;
	top:15%;
	display:inline-block;
}

div.mason_gallery {
	position:absolute;
	column-count:4;
	column-gap:0px;
	margin-bottom:10%;
	background-color:yellow;
}

img.mason_img {
	width:100%;
	height:auto;
	margin-bottom:-2px;
}

img.gallery_img {
	width:25%;
	height:350px;
	margin:0 auto;
	position:relative;
	display:inline-block;
	vertical-align:top;
	object-fit:cover;
	object-position:top;
}

/**********************Image Overlay***************/
.container {
	width:100%;
	height:85vh;
	position:relative;
}

.image {
  opacity:1;
  display:block;
  width:100%;
  height:100%;
  object-position:top;
  object-fit:cover;
  transition:.5s ease;
  backface-visibility:hidden;
}

.middle {
  transition:.5s ease;
  opacity:0;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

.container:hover .image {
  opacity:0.3;
}

.container:hover .middle {
  opacity:1;
}

.text {
  background-color:grey;
  color:white;
  font-size:16px;
  padding:16px 32px;
}
/******************************************************/



.page-gallery h1 {
  color: Orange; }
