$header-background-color: rgba(200,200,200,.5);

header {
  background-image: url('./../img/the_pines_crop.jpg');
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  ul {
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 20px;

    a, a:visited {
      color: #fff;
      text-shadow: 1px 1px rgba(0,0,0,.5);
      text-decoration: none;
      border: 1px solid $header-background-color;
      border-width: 1px 1px 2px 1px;
    }

    a:hover {
      border: 1px solid white;
    }

    a {
      display: inline-block;
      padding: 6px 10px;
      background-color: $header-background-color;
      border-radius: 10px;
    }
  }

  .link-active {
    font-weight: bold;
    border-bottom: 2px solid red !important;
    color: red !important;
  }
}
